.content {
    @apply flex flex-1 flex-col justify-between;
  
    > .selected-project {
      @apply flex flex-1 flex-col mt-4 min-h-[500px] justify-center xxs:px-3 lg:px-[14%] xl:px-[10%] sm:px-2 xxs:mb-4 lg:mb-2 xxs:py-4 lg:py-10 xl:py-4  mx-10 z-10 border-[1px] xxs:rounded-lg lg:rounded-full xl:rounded-full border-dashed border-primary;
      opacity: 0;
      transform: translateX(50%);
      transition:
        opacity 0.3s ease,
        transform 0.4s ease; /* Adjust the duration and easing function as needed */
      &.--visible {
        opacity: 1;
        transform: translateX(0);
      }
      > .__title {
        @apply flex items-center space-x-2 pb-3;
        > span {
          @apply text-primary font-ropa font-medium text-4xl;
        }
      }
      > p.__description {
        @apply font-nunito text-secondary text-lg;
      }
  
  
    > hr {
      @apply border-b-[1px] border-secondary xxs:mx-0 my-3;
    }
  
      > .__roles {
        @apply text-secondary text-base font-nunito space-y-1;
      }
  
      > .__bottom {
        @apply flex items-end xxs:flex-col lg:flex-row  justify-between pt-2;
        > .__technologies {
          @apply text-secondary text-base xxs:gap-y-1 sm:gap-y-0  gap-x-2 items-baseline flex flex-wrap xxs:max-h-full lg:max-h-40 xxs:max-w-full lg:max-w-[70%];
          > h1 {
            @apply text-primary font-medium text-lg;
          }
        }
        > .__links {
          @apply flex xxs:justify-start lg:justify-end items-end w-full space-x-8 xxs:pt-6 lg:pt-10;
          > a {
            @apply text-primary font-semibold border-secondary border-b-2;
          }
        }
      }
  
      > .__welcome {
        @apply font-nunito text-secondary xs:text-base sm:text-lg xxs:px-0 lg:px-0 xl:px-32 xxs:text-justify;
        > div {
          @apply text-5xl font-medium pr-2 pb-2 tracking-wider text-primary;
        }
      }
    }
  
  
    > .projects-container {
      @apply bg-secondary w-full flex xxs:flex-col sm:flex-row justify-between py-4 px-10;
  
      > .projects-sub-container {
        @apply xxs:w-full xs:w-3/4  md:w-1/2 lg:w-2/3 xxs:h-full xs:min-h-[250px] flex flex-col;
        align-content: flex-end;
        justify-content: flex-end;
  
        > h1 {
          @apply flex items-center gap-x-4 text-secondary font-ropa xxs:text-3xl sm:text-2xl py-3 text-start;
          
          > span {
            @apply font-ropa text-base space-x-4 pt-1 text-primary cursor-pointer;
          }
        }
  
        > .list {
          @apply flex xxs:flex-col sm:flex-row xxs:flex-nowrap sm:flex-wrap xxs:justify-center xs:justify-start;
  
          > .name {
            @apply cursor-pointer p-2;
  
            > button {
              @apply h-10 text-secondary font-nunito xxs:text-sm sm:text-base;
              transition:
                color 0.5s,
                letter-spacing 0.5s;
  
              &:hover {
                @apply text-mint tracking-wider;
              }
  
              &.--selected {
                @apply font-nunito font-semibold;
              }
            }
          }
        }
      }
      > .image {
        @apply w-full flex xxs:justify-center sm:justify-end items-end;
        > img {
          @apply object-contain;
        }
      }
    }
  }
  